.image{
    background-image:url('https://ik.imagekit.io/5ijj28qkaa/sea-ocean?');
    height:600px;
    width:300px;
    background-size: cover;
}

*{
    font-family: Poppins;
}

.bg-image{
    background-image: url('https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/TOURISM-PROJECT/taj-mahal');
    height: 600px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}